<div class="view" id="play">
	<div id="player">
		<hr />
		You are NOT the spy!<br />
		Location: Hospital
		<hr />
	</div>
	Remaining time:
	<div id="clock">
		00:00
	</div><br /> <hr > <br />
	Players:
	<table class="people_table" id="people" style="width:100%">
		<tr>
		</tr>
		<tr>
		  <td>Lior</td>
		  <td>Samyon</td>
		</tr>
		<tr>
		  <td>Ori</td>
		  <td>Omer</td>
		</tr>
		<tr>
			<td>Daniel <span id="first"> 1st</span></td>
			<td>Noam</td>
		</tr>
		<tr>
			<td>Idan</td>
			<td>Noam</td>
		</tr>
	  </table> 
	<br /><hr /><br />
	Places:
	<table class="places_table" style="width:100%">
		<tr>
		</tr>
		<tr>
		  <td>Hospital</td>
		  <td>Police</td>
		  <td>Technion</td>
		</tr>
		<tr>
		  <td>Army</td>
		  <td>Movie</td>
		  <td>Airplane</td>
		</tr>
		<tr>
				<td>Hospital</td>
				<td>Police</td>
				<td>Technion</td>
			  </tr>
			  <tr>
				<td>Army</td>
				<td>Movie</td>
				<td>Airplane</td>
			  </tr>
			  <tr>
					<td>Hospital</td>
					<td>Police</td>
					<td>Technion</td>
				  </tr>
				  <tr>
					<td>Army</td>
					<td>Movie</td>
					<td>Airplane</td>
				  </tr>
				  <tr>
						<td>Hospital</td>
						<td>Police</td>
						<td>Technion</td>
					  </tr>
					  <tr>
						<td>Army</td>
						<td>Movie</td>
						<td>Airplane</td>
					  </tr>
	  </table> 
</div>